In [1]:
import pandas as pd
import numpy as np

In [2]:
names=pd.read_csv('datasets/babynames/yob1880.txt')

In [3]:
names

           Mary  F  7065
0          Anna  F  2604
1          Emma  F  2003
2     Elizabeth  F  1939
3        Minnie  F  1746
4      Margaret  F  1578
5           Ida  F  1472
6         Alice  F  1414
7        Bertha  F  1320
8         Sarah  F  1288
9         Annie  F  1258
10        Clara  F  1226
11         Ella  F  1156
12     Florence  F  1063
13         Cora  F  1045
14       Martha  F  1040
15        Laura  F  1012
16       Nellie  F   995
17        Grace  F   982
18       Carrie  F   949
19        Maude  F   858
20        Mabel  F   808
21       Bessie  F   794
22       Jennie  F   793
23     Gertrude  F   787
24        Julia  F   783
25       Hattie  F   769
26        Edith  F   768
27       Mattie  F   704
28         Rose  F   700
29    Catherine  F   688
...         ... ..   ...
1969      Philo  M     5
1970    Phineas  M     5
1971    Presley  M     5
1972     Ransom  M     5
1973      Reece  M     5
1974       Rene  M     5
1975    Roswell  M     5
1976    Rowland  M     5
1977    Sampson  M     5
1978     Samual  M     5
1979     Santos  M     5
1980   Schuyler  M     5
1981   Sheppard  M     5
1982   Spurgeon  M     5
1983   Starling  M     5
1984   Sylvanus  M     5
1985   Theadore  M     5
1986  Theophile  M     5
1987     Tilmon  M     5
1988      Tommy  M     5
1989    Unknown  M     5
1990       Vann  M     5
1991        Wes  M     5
1992    Winston  M     5
1993       Wood  M     5
1994     Woodie  M     5
1995     Worthy  M     5
1996     Wright  M     5
1997       York  M     5
1998  Zachariah  M     5

[1999 rows x 3 columns]